In [16]:
# Lab 09: Applying Functions to DataFrames
# Liz Ponting 

#1 Write a transforming function implementing the formula `y = 5x - 2`   
def function_one(x):
    y = 5 * x - 2
    return y

In [28]:
#2 Create a numeric Pandas Series using the `pd.Series` call we've seen before. Use values of your choice. 

import pandas as pd

list = [5,10,15,20,25]
s = pd.Series(list)
print(s)

0     5
1    10
2    15
3    20
4    25
dtype: int64

In [29]:
#3 Apply your transforming function from #1 to this Series
s.apply(function_one)

0     23
1     48
2     73
3     98
4    123
dtype: int64

In [34]:
#4 Repeat #3, but apply `y = 5x - 2` as a lambda function instead of a *named* function.
s.apply(lambda x: 5 * x - 2)

0     23
1     48
2     73
3     98
4    123
dtype: int64

In [35]:
#5  Apply this lambda function to your Series: `lambda x: [x, x + 1]`
#   What type of data is now in each element? Why did that happen?
s.apply(lambda x: [x, x + 1])

0      [5, 6]
1    [10, 11]
2    [15, 16]
3    [20, 21]
4    [25, 26]
dtype: object

In [40]:
#6 Open the flights data. Create and apply a function such that the result is a Series with one element for each row

import pandas as pd
flights = pd.read_csv(r'C:\Users\Liz Ponting\Desktop\flights_python.csv')
flights.head() 

def calculate_miles__per_hour (row):
    MPH = row['distance'] / row['hour']
    return MPH

flights['Flight_MPH'] = flights.apply(calculate_miles__per_hour,axis=1)
flights

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour,Flight_MPH
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00,280.000000
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00,283.200000
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00,217.800000
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00,315.200000
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 06:00:00,127.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336771,2013,9,30,NaN,1455,NaN,NaN,1634,NaN,9E,3393,NaN,JFK,DCA,NaN,213,14,55,2013-09-30 14:00:00,15.214286
336772,2013,9,30,NaN,2200,NaN,NaN,2312,NaN,9E,3525,NaN,LGA,SYR,NaN,198,22,0,2013-09-30 22:00:00,9.000000
336773,2013,9,30,NaN,1210,NaN,NaN,1330,NaN,MQ,3461,N535MQ,LGA,BNA,NaN,764,12,10,2013-09-30 12:00:00,63.666667
336774,2013,9,30,NaN,1159,NaN,NaN,1344,NaN,MQ,3572,N511MQ,LGA,CLE,NaN,419,11,59,2013-09-30 11:00:00,38.090909
336775,2013,9,30,NaN,840,NaN,NaN,1020,NaN,MQ,3531,N839MQ,LGA,RDU,NaN,431,8,40,2013-09-30 08:00:00,53.875000

In [81]:
#7 Create a function that takes in a row (a Series) and returns a string with \"carrier\" and \"flight\" combined together into one, separated by a dash.
# I.e. running your function on the first row should yield \"UA-1545\"."

flights['carrier'] = flights['carrier'].astype(str)
flights['flight'] = flights['flight'].astype(str)

In [ ]:
 #8 Apply your function from #7 to every row, and use it to create a new column \"carrier_flight_code\".

In [84]:
type('carrier')

str

In [85]:
type('flight')

str

In [88]:
def create_model(row):
    model = row['carrier'] + '-' + ['flight']
    return model

In [89]:
flights['Model'] = flights.apply(create_model,axis=1)

TypeError: ('can only concatenate str (not "list") to str', 'occurred at index 0')

In [ ]:
#9 Suppose we learn that there are some systematic errors in the data. \"dep_delay\" is understated by two minutes for all flights leaving from LGA and overstated by 1 minutes for flights leaving from EWR. "It's correct for flights leaving from JFK.\n",
    #"Use a custom function and an `apply` to create a new column, \"real_dep_delay\", adjusting for these inaccuracies."

In [ ]:
#10 Subset your flights data to the first 10,000 rows -- the next question is fairly computationally intense, and this will make it run faster."

In [2]:
#11
#    "You've been assigned to summarize the data in a very particular way:\n",
#    "get the modal value of columns whose names start with \"dep\", and get the mean value of columns whose names start with \"arr\".\n",
#    "Do this using an applied function.\n",
#    "*Hint: remember you can check the name of a Series using its `.name` attribute*"

IndentationError: unexpected indent (<ipython-input-2-bc67cdaf48f0>, line 2)

In [1]:
## #12
#How could you have done this without `apply`?
#There are a few way
#Are any as concise as `apply`?